@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.cabecalho__menu {

    display: flex;
    gap: 100px;
}

.cabecalho {

    padding: 2% 0% 0% 10%;
}

.cabecalho__menu__link {
 
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;

}


.titulo-destaque{
    color: #22D4FD;
}

.apresentacao {
    padding: 8% 10%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 140px;
}

.apresentacao__conteudo {

    width: 50%;
    display: flex;
    flex-direction: column;
    gap : 40px;
}

.apresentacao__conteudo__titulo {

    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto {

    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px; 
}

.apresentacao__links__subtitulo {

    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}


.apresentacao__links__link {

    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: black;
    border: 3px solid #22D4FD;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.75rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}


.perfil {
    
    width: 80%;
    border-radius: 10%;
    
}
 
.apresentacao__links__link:hover {

    background-color: #272727;
    color:black
}

.apresentacao__links__subtitulo:hover {

    transform: scale(1.1);
}

.cabecalho__menu__link:hover {

    transform: scale(1.1);
    color: white;
}


.rodape {
    padding: 20px;
    color: white;
    background-color: gray;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}
.certificados {

    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    float: left;
}
.certificados:hover{

    color: aqua;
}

.logocertificado {

    width: 300px;
}

@media (max-width: 1200px) {
    .apresentacao {
        flex-direction: column-reverse;
    }
}